*
{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
body
{
    background: linear-gradient(to right top, #11021c, #620c60);
}
main
{
    text-align: center;
}
h1
{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}
.seccionPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background:linear-gradient(to right top, #13041b56, #19021a3c), url(images/fondoPelis2.jpeg) ;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.titLogo{
    color: white;
}
.buscadorPrincipal{
    height: 50vh;
}
.botonRegistro{
    background-color: #57369f;
    border: 2px solid rgb(17, 0, 36);
    border-radius: 20px;
    color: #ffffff;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}
.tituloSection{
    color: #ffffff;    
    background-size: cover;
    background-position: center;
   /*  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; */
}
/* .buscadorPeliculas {
}    */       
.inputBuscador {
    border: 2px solid white;
    border-radius: 25px;
    color: #000000;
    font-size: 1.2rem;
    height: 50px;
    outline: none;
    width: 500px;
}
.botonBuscador, .botonTendencias{
    border-radius: 25px;
    border: 2px solid rgb(17, 0, 36);
    color:  rgb(58, 5, 78);
    background-color: #ff9dfd;
    height: 50px;
    outline: none;
    width: 100px;
}
hr {
    border: 2px solid  #ff9dfd;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
}
.peliculas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
   
}
/* .peliculasTendencia {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    
    width: 8rem;
     position: relative;
    overflow: hidden;
} */
.imgTendencia {
    width: 16rem;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.tituloPelicula {
    /* z-index: 2;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;    
    transform: translateY(-50%) translateX(-50%); */
    max-width: 20rem;
    width: 100%;
}

footer{
    background: linear-gradient(to right top, #2d0b3e, #58085a);
    color: #ffffff;
}
/* ----------HTML de Registro------------ */
.pageRegistro{
    background-color: #332c44;
}
.formRegistro{
    background-color: #57369f;
    width: 20vh;
    height: 20vh;
    color: #ffffff;
}
.fa-brands{
    color: #ffffff;
}
.ancorLogo{
    color: #ffffff;
    text-decoration: none;
}
.bg-glass {
    background-color:  rgba(255, 255, 255, 0.071)!important;
    backdrop-filter: saturate(100%) blur(30px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }
  #radius-shape-2 {
    border-radius: 50%;
    top: 95px;
    left:200px ;
    width: 200px;
    height: 200px;
    background: linear-gradient(
        to right,
        #9056cf,
        #dc61fb);
    overflow: hidden;
  }
  #radius-shape-3 {
    border-radius: 50%;
    bottom: 1px;
    right:200px ;
    width: 200px;
    height: 200px;
    background: linear-gradient(
        to right,
        #9056cf,
        #dc61fb
        );
    overflow: hidden;
  }